body {
    font-family: 'Poppins', sans-serif;
}

/* Tombol kategori */
.category {
    background: #e0e0e0;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.category:hover {
    background: #d1d1d1;
}

.active-category {
    background: #b0b0b0 !important;
    font-weight: bold;
}

/* Area teks pertanyaan */
textarea {
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

/* Tombol submit */
.submit-btn {
    background-color: #9b9b9b;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
}
